*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    width: 100vw;
    height: 100%;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/originals/e2/53/08/e25308136443566151c69c7b6457ba0e.jpg);
    background-size: cover;
}   

.form-container {
    min-width: 400px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px)
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid black;
}

button {
    border: 1px solid black;
    background-color:white;
    color:black;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

#head{
 display: flex;
 align-items: center;
 justify-content: center;
}

